{% extends 'base.html' %}

{% load static %}

{% block title %}Panel{% endblock %}

{% block content %}
    <main class="p-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h1 class="mb-3">Bienvenido {{ user_session.nombre_estudiante }} {{ user_session.apellido_estudiante }}</h1>
                        </div>
                        <div class="col-2">
                            <a href="{% url 'cerrar-sesion' %}" class="btn btn-danger">Cerrar sesion</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <hr class="">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4">
                    <p>
                        <a href="{% url 'panel' %}" class="btn btn-primary">Nueva conversación</a>
                    </p>

                    <h4 class="text-center">Tus conversaciones</h4>

                    <div class="list-group mt-3">
                        {% if conversaciones is None %}
                            <p class="text-center">No hay conversaciones recientes</p>
                        {% else %}
                            {% for conversacion in conversaciones %}
                                <a href="#" class="list-group-item list-group-item-action card-conversation" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ conversacion.0 }}</h5>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <h4 id="titulo_conversacion" class="text-center"></h4>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-12 py-3" style="height: 550px; overflow-y: auto; overflow-x: hidden" id="window-chat">
                            <div id="chat"></div>
                        </div>
        
                        <div class="col-12">
                            <textarea name="mensaje" id="input_text_user" cols="30" rows="5" class="form-control mt-3" placeholder="Ingresa tu mensaje"></textarea>
                            <button class="btn btn-primary mt-3 d-block ms-auto px-5" id="boton_enviar">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="{% static 'bot.js' %}"></script>
    <script src="{% static 'chat.js' %}"></script>
{% endblock %}